<div class="row">
    <div class="span8 offset1 hero-unit">
        <h1>Welcome !</h1>
        <p>Enjoy our new todo list manager !</p>
    </div>
    <div class="row">
        <div class="span4 offset2">
   			<%= render 'shared/form' %>
        </div>
        <div class="span4 offset1">
        	<%= render 'shared/login' %>
        </div>
    </div>
</div>
